<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936247006670-q8bp19gio35m9mm2hrmhdl36mk132p0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936247006670-q8bp19gio35m9mm2hrmhdl36mk132p0h</string>
	<key>API_KEY</key>
	<string>AIzaSyA0yLCou3-1BEotqu-bkcwxj6spZDxzma0</string>
	<key>GCM_SENDER_ID</key>
	<string>936247006670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interviewTask</string>
	<key>PROJECT_ID</key>
	<string>test-5e429</string>
	<key>STORAGE_BUCKET</key>
	<string>test-5e429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936247006670:ios:4840713c52247e31fd879f</string>
</dict>
</plist>